main {
  max-width: 100em;
  margin: 0 auto;
  margin-top: 10em;
}

main > section {
  position: relative;
  min-height: 100vh;
}

main > section {
  margin-top: 4rem;
  background-color: rgba(10, 10, 10, 255);
  margin: 0;
  padding: 0rem 10rem;
}


